<!DOCTYPE html>
<html>
<head>
    <meta encoding="UTF-8" />
    <title>angular-color-picker</title>
    <link rel="icon" type="image/png" href="//cdn.rawgit.com/myplanetdigital/gh-pages-theme/v1.0.0/assets/favicon.png" />
    <link rel="stylesheet" href="//cdn.rawgit.com/myplanetdigital/gh-pages-theme/v1.0.0/assets/fonts.css" />
    <link rel="stylesheet" href="//cdn.rawgit.com/myplanetdigital/gh-pages-theme/v1.0.0/theme.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css" />
    <link rel="stylesheet" href="//cdn.rawgit.com/myplanetdigital/angular-color-picker/v1.0.2/angular-color-picker.css" />
    <style>
    .showcase-example {
        text-align: center;
        padding: 8px;
        box-sizing: border-box;
        font-size: 0;
    }
    .showcase-example input {
        font-family: TradeGothic, sans-serif;
        font-size: 16px;
        margin-top: 8px;
        color: #333;
        width: 6em;
    }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.9/angular.js"></script>
    <script src="//cdn.rawgit.com/myplanetdigital/angular-color-picker/v1.0.2/angular-color-picker.js"></script>
    <script>
        hljs.initHighlightingOnLoad();

        angular.module('demo', [ 'mp.colorPicker' ]);
    </script>
</head>
<body>
    <header>
        <div class="content-wrap">
            <a href="http://myplanet.com" class="logo" title="Myplanet">Myplanet</a>
            <h1><a href=".">angular-color-picker</a></h1>
            <h2>Lightweight Color Picker for Angular</h2>
        </div>
    </header>
    <nav>
        <div class="content-wrap">
            <ul>
                <li><a href="#overview">Overview</a></li>
                <li><a href="#download">Download <strong>v1.0.2</strong></a></li>
                <li><a href="#usage">Usage</a></li>
                <li><a href="https://github.com/myplanetdigital/angular-color-picker">View on <strong>GitHub</strong></a></li>
            </ul>
        </div>
    </nav>
    <article ng-app="demo">
        <section class="showcase">
            <div class="content-wrap">
                <div class="showcase-example">
                    <color-picker ng-model="color">
                    </color-picker>

                    <input type="text"
                           ng-model="color"
                           ng-init="color = '#f05a28'">
                </div>
                <div class="showcase-content">
                    <h3>Live Demo</h3>

                    <p>Click and drag to pick colors or enter RGB color values into the input element.</p>

                    <h4>Demo Source</h4>

                    <pre><code class="lang-html"><!--
-->&lt;color-picker ng-model=&quot;color&quot;&gt;
&lt;/color-picker&gt;

&lt;input type=&quot;text&quot;
       ng-model=&quot;color&quot;
       ng-init=&quot;color = &#039;#f05a28&#039;&quot;&gt;<!--
                    --></code></pre>
                </div>
            </div>
        </section>
        <section>
            <div class="content-wrap">
                <h3 id="overview">Overview</h3>

                <p><strong>angular-color-picker</strong> is a lightweight color picker that acts
                    like a custom input element through regular <a href="https://docs.angularjs.org/api/ng/directive/ngModel">ng-model</a> bindings. It is:</p>

                <ul>
                    <li>Pure CSS &ndash; does not use any images</li>
                    <li>Pure Angular &ndash; does not rely on any other libraries</li>
                    <li>Compatible with IE8+</li>
                </ul>
            </div>
        </section>
        <section>
            <div class="content-wrap">
                <h3 id="download">Download</h3>

                <p>Grab the latest from <a href="https://github.com/myplanetdigital/angular-color-picker/releases">GitHub</a> or use your favorite package manager:</p>

                <h4>Via Bower</h4>

                <pre><code class="lang-sh">bower install angular-color-picker</code></pre>

                <h4>Via NPM</h4>

                <pre><code class="lang-sh">npm install angular-color-picker</code></pre>

                <h3 id="usage">Usage</h3>

                <p>Include <strong>angular-color-picker.js</strong> in your application,
                    after Angular is included. Also include <strong>angular-color-picker.css</strong>
                    to get the bare minimum styling.</p>

                <pre><code class="lang-html"><!--
-->&lt;link rel=&quot;stylesheet&quot; href=&quot;path/to/angular-color-picker.css&quot;&gt;
&lt;script src=&quot;path/to/angular.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;path/to/angular-color-picker.js&quot;&gt;&lt;/script&gt;<!--
                --></code></pre>

                <p>You may use an AMD or CommonJS loader as well.</p>

                <p>Initialize your Angular application with the <strong>mp.colorPicker</strong> module as a dependency:</p>

                <pre><code class="lang-js"><!--
-->angular.module('app', [ 'mp.colorPicker' ]);<!--
                --></code></pre>

                <p>Then use the <code>&lt;color-picker&gt;</code> element along with an <code>ng-model</code> directive for two-way binding with a scope variable:</p>

                <pre><code class="lang-html"><!--
-->&lt;color-picker ng-model=&quot;color&quot;&gt;
&lt;/color-picker&gt;<!--
                --></code></pre>

                <h4 id="theming">Theming</h4>

                <p>You can override the styles defined in <strong>angular-color-picker.css</strong> to match the style of your application, while being careful not to change the size of the color variation and hue picker boxes. The classes and specifiers that are used are:</p>

                <dl>
                    <dt>.angular-color-picker</dt>
                    <dd>The top-level container for the entire component.</dd>

                    <dt>.angular-color-picker > ._variations</dt>
                    <dd>The color picker box that shows all the color variations for a selected hue. <strong>The size of this must remain 200x200 pixels.</strong></dd>

                    <dt>.angular-color-picker > ._variations > ._whites</dt>
                    <dt>.angular-color-picker > ._variations > ._whites > ._blacks</dt>
                    <dd>Gradient overlays that result in all variations to be rendered. <strong>You should not have to touch these.</strong></dd>

                    <dt>.angular-color-picker > ._variations > ._whites > ._blacks > ._cursor</dt>
                    <dd>The currently selected color cursor. <strong>The effective size of this must remain 10x10 pixels.</strong></dd>

                    <dt>.angular-color-picker > ._variations > ._whites > ._blacks > ._mouse-trap</dt>
                    <dd>Internally used to capture mouse events. <strong>You should not have to touch this.</strong></dd>

                    <dt>.angular-color-picker > ._hues</dt>
                    <dd>The hue picker box. <strong>The height of this must remain 200 pixels. You should not have to change the gradients.</strong></dd>

                    <dt>.angular-color-picker > ._hues > ._cursor</dt>
                    <dd>The currently seleted hue cursor. <strong>The effective height of this must remain 10 pixels.</strong></dd>

                    <dt>.angular-color-picker > ._hues > ._mouse-trap</dt>
                    <dd>Internally used to capture mouse events. <strong>You should not have to touch this.</strong></dd>

                    <dt>.angular-color-picker > ._hues > ._ie-1</dt>
                    <dt>.angular-color-picker > ._hues > ._ie-2</dt>
                    <dt>.angular-color-picker > ._hues > ._ie-3</dt>
                    <dt>.angular-color-picker > ._hues > ._ie-4</dt>
                    <dt>.angular-color-picker > ._hues > ._ie-5</dt>
                    <dt>.angular-color-picker > ._hues > ._ie-6</dt>
                    <dd>Fallbacks containers to get continuous hue gradients working on IE. <strong>You should not have to change the gradients.</strong></dd>
                </dl>

                <h3>Limitations</h3>

                <p>As evidenced by the warnings under <a href="#theming">Theming</a>, the JavaScript code is currently hard-coded to work with certain dimensions for some key elements. The color picker will stop functioning accurately if you change the dimensions of those elements during theming.</p>
            </div>
        </section>
    </article>
    <footer>
        <div class="content-wrap">
            Made with <span class="love" title="love">love</span> by
            <a href="https://github.com/atesgoral">Ates</a>
            from
            <a href="http://myplanet.com/">Myplanet</a>.
        </div>
    </footer>
</body>
</html>
