<!DOCTYPE html>
<html>
<head>
    <meta encoding="UTF-8" />
    <title>angular-color-picker</title>
    <link rel="icon" type="image/png" href="assets/favicon.png" />
    <link rel="stylesheet" href="assets/fonts.css" />
    <link rel="stylesheet" href="theme.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css" />
    <link rel="stylesheet" href="lib/angular-color-picker.css" />
    <style>
    .showcase-example {
        padding-bottom: 28px;
    }
    .showcase-example .angular-color-picker {
        margin: 8px;
        border-color: transparent;
    }
    .showcase-example input {
        font-family: TradeGothic, sans-serif;
        font-size: 1em;
        margin-left: 28px;
        color: #333;
        width: 6em;
    }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.9/angular.js"></script>
    <script src="lib/angular-color-picker.js"></script>
    <script>
        hljs.initHighlightingOnLoad();

        angular.module('demo', [ 'mp.colorPicker' ]);
    </script>
</head>
<body>
    <header>
        <div class="content-wrap">
            <a href="http://myplanet.io" class="logo" title="Myplanet">Myplanet</a>
            <h1><a href=".">angular-color-picker</a></h1>
            <h2>Lightweight Color Picker for Angular</h2>
        </div>
    </header>
    <nav>
        <div class="content-wrap">
            <ul>
                <li><a href="#overview">Overview</a></li>
                <li><a href="#download">Download <strong>v1.0.0</strong></a></li>
                <li><a href="#usage">Usage</a></li>
                <li><a href="https://github.com/myplanetdigital/angular-color-picker">View on <strong>GitHub</strong></a></li>
            </ul>
        </div>
    </nav>
    <article ng-app="demo">
        <section class="showcase">
            <div class="content-wrap">
                <div class="showcase-example">
                    <color-picker ng-model="color">
                    </color-picker>

                    <input type="text"
                           ng-model="color"
                           ng-init="color = '#f05a28'">
                    <span ng-style="{ color: color }">
                        &block;
                    </span>
                </div>
                <div class="showcase-content">
                    <h3>Live Demo</h3>

                    <p>Click and drag to pick colors or enter RGB color values into the input element.</p>

                    <h4>Demo Source</h4>

                    <pre><code class="lang-html"><!--
-->&lt;color-picker ng-model=&quot;color&quot;&gt;
&lt;/color-picker&gt;

&lt;input type=&quot;text&quot;
       ng-model=&quot;color&quot;
       ng-init=&quot;color = &#039;#f05a28&#039;&quot;&gt;
&lt;span ng-style=&quot;{ color: color }&quot;&gt;
    &amp;block;
&lt;/span&gt;<!--
                    --></code></pre>
                </div>
            </div>
        </section>
        <section>
            <div class="content-wrap">
                <h3 id="overview">Overview</h3>

                <p><strong>angular-color-picker</strong> is a lightweight color picker that acts
                    like a custom input element through regular <a href="https://docs.angularjs.org/api/ng/directive/ngModel">ng-model</a> bindings. It is:</p>

                <ul>
                    <li>Pure CSS &ndash; does not use any images</li>
                    <li>Pure Angular &ndash; does not rely on any other libraries</li>
                    <li>Compatible with IE8+</li>
                    <li>Following <a href="https://github.com/umdjs/umd">UMD</a></li>
                </ul>
            </div>
        </section>
        <section>
            <div class="content-wrap">
                <h3 id="download">Download</h3>

                <p>Grab the latest from <a href="https://github.com/myplanetdigital/angular-color-picker/releases">GitHub</a> or use your favorite package manager:</p>

                <h4>Via Bower</h4>

                <pre><code class="lang-sh">bower install angular-color-picker</code></pre>

                <h4>Via NPM</h4>

                <pre><code class="lang-sh">npm install angular-color-picker</code></pre>

                <h3 id="usage">Usage</h3>

                <p>Include <strong>angular-color-picker.js</strong> in your application,
                    after Angular is included. Also include <strong>angular-color-picker.css</strong>
                    to get the bare minimum styling.</p>

                <pre><code class="lang-html"><!--
-->&lt;link rel=&quot;stylesheet&quot; href=&quot;path/to/angular-color-picker.css&quot;&gt;
&lt;script src=&quot;path/to/angular.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;path/to/angular-color-picker.js&quot;&gt;&lt;/script&gt;<!--
                --></code></pre>

                <p>You may use an AMD or CommonJS loader as well.</p>

                <p>Initialize your Angular application with the <strong>mp.colorPicker</strong> module as a dependency:</p>

                <pre><code class="lang-js"><!--
-->angular.module('app', [ 'mp.colorPicker' ]);<!--
                --></code></pre>

                <p>Then use the <strong>&lt;color-picker&gt;</strong> element along with an <strong>ng-model</strong> directive for two-way binding with a scope variable:</p>

                <pre><code class="lang-html"><!--
-->&lt;color-picker ng-model=&quot;color&quot;&gt;
&lt;/color-picker&gt;<!--
                --></code></pre>

                <p>Feel free to override the styles defined in <strong>angular-color-picker.css</strong> to match the style of your application, while being careful not to change the size of the color or hue picker boxes.</p>

                <p>That's all!</p>
            </div>
        </section>
    </article>
    <footer>
        <div class="content-wrap">
            Made with <span class="love" title="love">love</span> by
            <a href="https://github.com/atesgoral">Ates</a>
            from
            <a href="http://myplanet.io/">Myplanet</a>.
        </div>
    </footer>
</body>
</html>
